<section class="cartContainer">
  <header class="header">
    <h4 class="header-title">
      Cart ({{numberOfItems | async}})
    </h4>
    <button type="button" class="removeAll" (click)="removeItems()" [disabled]="(cartItems|async)!.length === 0">Remove all</button>
  </header>
  <main>
    <ul class="summary-products">
      <li class="summary-products-product" *ngFor="let item of cartItems | async; let i = index">
        <div class="productContainer">
          <img [src]="item.image" alt="Product   image" class="summary-products-productImg">
          <article class="product-info">
            <div class="product-name_and_price">
              <h4 class="product-name_and_price-name" [innerHTML]="item.name">
              </h4>
              <p class="product-name_and_price-price">
                $ {{item.price}}
              </p>
            </div>
            <div class="amountButton-container">
              <button class="decrease-button">-</button>
              <span class="amount">
                {{item.amount}}
              </span>
              <button class="increase-button" [disabled]="item.amount === 1">+</button>
            </div>
          </article>
      </div>
      </li>
    </ul>
  </main>
  <div class="total-container">
    <h6 class="total-container-name">
      total
    </h6>
    <p class="total-container-value">
      $ {{totalPrice | async | totalPrice}}
    </p>
  </div>
  <button class="see_product-button">
    Checkout
  </button>
</section>
