<section class="cartContainer">
  <header class="header">
    <h4 class="header-title">
      Cart <span class="header-number_of_items">(3)</span>
    </h4>
    <button type="button">Remove All</button>
  </header>
  <main>
    <ul class="summary-products">
      <li class="summary-products-product">
        <div class="productContainer">
          <img src="../../../../assets/product-xx59-headphones/mobile/image-product.jpg" alt="Product   image" class="summary-products-productImg">
          <article class="product-info">
            <div class="product-name_and_price">
              <h4 class="product-name_and_price-name">
                XX99 MK II
              </h4>
              <p class="product-name_and_price-price">
                $ 2,999
              </p>
            </div>
            <div class="amountButton-container">
              <button class="decrease-button">-</button>
              <span class="amount">
                1
              </span>
              <button class="increase-button">+</button>
            </div>
          </article>
      </div>
      </li>
      <li class="summary-products-product">
        <div class="productContainer">
          <img src="../../../../assets/product-xx59-headphones/mobile/image-product.jpg" alt="Product image" class="summary-products-productImg">
          <article class="product-info">
            <div class="product-name_and_price">
              <h4 class="product-name_and_price-name">
                XX99 MK II
              </h4>
              <p class="product-name_and_price-price">
                $ 2,999
              </p>
            </div>
            <div class="amountButton-container">
              <button class="decrease-button">-</button>
              <span class="amount">
                1
              </span>
              <button class="increase-button">+</button>
            </div>
          </article>
        </div>
      </li>
      <li class="summary-products-product">
        <div class="productContainer">
          <img src="../../../../assets/product-xx59-headphones/mobile/image-product.jpg" alt="Product image" class="summary-products-productImg">
          <article class="product-info">
            <div class="product-name_and_price">
              <h4 class="product-name_and_price-name">
                XX99 MK II
              </h4>
              <p class="product-name_and_price-price">
                $ 2,999
              </p>
            </div>
            <div class="amountButton-container">
              <button class="decrease-button">-</button>
              <span class="amount">
                1
              </span>
              <button class="increase-button">+</button>
            </div>
          </article>
        </div>
      </li>
    </ul>
  </main>
  <div class="total-container">
    <h6 class="total-container-name">
      total
    </h6>
    <p class="total-container-value">
      $ 2000
    </p>
  </div>
  <button class="see_product-button">
    Checkout
  </button>
</section>
