.cartContainer{
  width: 327px;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  background-color: white;
  padding: 2rem 1.5rem;
  border-radius: 8px;
}

.cartContainer .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartContainer .header .header-title{
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1.29px;
  text-transform: uppercase;
}

.cartContainer .header .removeAll{
  background: transparent;
  border: none;
  font-size: .9375rem;
  line-height: 25px;
  color: var(--black-1);
  opacity: .5;
  text-decoration: underline;
}

.cartContainer .summary-products{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.cartContainer .summary-products .summary-products-product{
  width: 100%;
}

.cartContainer .summary-products .summary-products-product .productContainer{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.cartContainer .summary-products .summary-products-product .productContainer .summary-products-productImg{
  width: 64px;
  border-radius: 7px;
}

.cartContainer .summary-products .summary-products-product .productContainer .product-info{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartContainer .summary-products .summary-products-product .productContainer .product-info .product-name_and_price{
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.cartContainer .summary-products .summary-products-product .productContainer .product-info .product-name_and_price .product-name_and_price-name{
  font-size: .9375rem;
  font-weight: 700;
  line-height: 25px;
  color: var(--black-1);
}

.cartContainer .summary-products .summary-products-product .productContainer .product-info .product-name_and_price .product-name_and_price-price{
  font-size: .875rem;
  font-weight: 700;
  line-height: 25px;
  opacity: .5;
  color: var(--black-1);
}

.cartContainer .summary-products .summary-products-product .productContainer .amountButton-container{
  width: 96px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--grey-1);
}

.cartContainer .summary-products .summary-products-product .productContainer .amountButton-container .decrease-button,
.cartContainer .summary-products .summary-products-product .productContainer .amountButton-container .increase-button{
  width: 16px;
  height: 18px;
  font-size: .875rem;
  letter-spacing: 1px;
  font-weight: 700;
  opacity: .25;
  background-color: transparent;
  border: none;
}

.cartContainer .summary-products .summary-products-product .productContainer .amountButton-container .amount{
  font-size: .8125rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.cartContainer .total-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartContainer .total-container .total-container-name{
  font-size: .9375rem;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--black-1);
  opacity: .5;
}

.cartContainer .total-container .total-container-value{
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--black-1);
}

.cartContainer .see_product-button{
  width: 271px;
  background-color: var(--light-brown);
  color: var(--white);
}

@media(min-width: 768px){

  .cartContainer{
    width: 377px;
    padding: 2.5rem 2rem;
  }

  .cartContainer .see_product-button{
    width: 313px;
  }
}
