.header{
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
}

.header_container{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 999;
}

.header_container::after{
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  opacity: .1;
}

.header .header_container .hamburgerButton,
.header .header_container .cartButton{
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header .header_container .hamburgerButton{
  margin-left: 1.5rem;
}

.header .header_container .cartButton{
  margin-right: 1.5rem;
}

.header .header_container .logo{
  width: 143px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.header .header_container .nav{
  width: 100%;
  height: 750px;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 80px;
  background-color: var(--white);
  border-radius: 0 0 8px 8px;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

.header.menuOpened .header_container .nav{
  visibility: visible;
  opacity: 1;
}

.header .header_container .nav__forDesktop .categoriesList-links{
  display: none;
}

.header .header_container .nav .categoriesList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 4.5rem;
}

.header .header_container .nav .categoriesList .category{
  width: 327px;
  height: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 1.5rem;
  background-color: var(--grey-1);
  border-radius: 7px;
}

.header .header_container .nav .categoriesList .category .category-productImg{
  position: absolute;
  top: -50px;
}

.header .header_container .nav .categoriesList .category .categoryInfo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header .header_container .nav .categoriesList .category .categoryInfo-container .categoryTitle{
  font-size: .9375rem;
  font-weight: 700;
  letter-spacing: 1.07px;
  color: var(--black-1);
}

.header .header_container .nav .categoriesList .category .categoryInfo-container .categoryLink{
  display: flex;
  align-items: center;
  gap: .7rem;
}

.header .header_container .nav .categoriesList .category .categoryInfo-container .categoryLink p{
  font-size: .8125rem;
  font-weight: 700;
  color: var(--black-1);
  opacity: .5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgb(16, 16, 16, .4);
  z-index: 1;
  transition: .1s;
}
.header.menuOpened ~ .overlay{
  visibility: visible;
  opacity: .7;
  transition: .6s;
}

@media(min-width: 768px){

  .header_container::after{
    width: 689px;
    left: 50%;
    translate: -50%;
  }

  .header .header_container .hamburgerButton{
    margin-left: 2.5rem;
  }

  .header .header_container .cartButton{
    margin-right: 2.5rem;
  }

  .header .header_container .logo{
    left: 100px;
    translate: 0 -50%;
  }

  .header .header_container .nav{
    height: 340px;
    padding-top: 110px;
  }

  .header .header_container .nav .categoriesList{
    flex-direction: row;
    gap: .6rem;
  }

  .header .header_container .nav .categoriesList .category{
    width: 223px;
  }
}

@media(min-width: 1200px){

  .header{
    height: 97px;
  }

  .header_container{
    width: 1110px;
  }

  .header_container::after{
    width: 100%;
    left: 0;
    translate: 0;
  }

  .header .header_container .cartButton{
    margin-right: 0;
  }

  .header .header_container .hamburgerButton{
    display: none;
  }

  .header .header_container .logo{
    position: initial;
    translate: 0;
  }

  .header .header_container .nav{
    display: none;
  }

  .header .header_container .nav__forDesktop .categoriesList-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .header .header_container .nav__forDesktop .categoriesList-links .link{
    font-size: .8125rem;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
  }

  .header .header_container .nav__forDesktop .categoriesList-links .link:hover{
    color: var(--light-brown);
  }
}
