<div class="background"></div>

<header class="header">
  <nav class="navbar">
    <a class="link" [routerLink]="['']">Go Back</a>
  </nav>
</header>

<main class="main">

  <section class="product_info-section">
    <picture class="picture">
      <source media="(max-width: 767px)" [srcset]="product.productImages.imgMobile">
      <source media="(max-width: 1199px)" [srcset]="product.productImages.imgTablet">
      <source media="(min-width: 1200px)" [srcset]="product.productImages.imgDesktop">
      <img [src]="product.productImages.imgMobile" [alt]="product.productName" class="productImg">
    </picture>
    <article class="productInformation">
      <small class="productInformation-newProduct" *ngIf="product.isNewProduct">
        new product
      </small>
      <h1 class="productInformation-name" [innerHTML]="product.productName">
      </h1>
      <p class="productInformation-description">
        {{ product.productDescription }}
      </p>
      <div class="price_container">
        <span>$</span>
        <span class="price">{{ product.price }}</span>
      </div>
      <div class="buttons_container">
        <div class="amountButton-container">
          <button class="decrease-button" (click)="decreaseAmount()" [disabled]="amount === 1">-</button>
          <span class="amount">
            {{amount}}
          </span>
          <button class="increase-button" (click)="increaseAmount()">+</button>
        </div>
        <button class="addToCart-button" (click)="addToCart()">
          ADD TO CART
        </button>
      </div>
    </article>
  </section>

  <section class="content-section">
    <article class="features-text">
      <h2 class="features-title">
        Features
      </h2>
      <p class="features-paragraph" *ngFor="let paragraph of product.features">
        {{ paragraph.paragraph }}
      </p>
    </article>
    <div class="inTheBox-container">
      <h2 class="inTheBox-title">
        In the box
      </h2>
      <ul class="inTheBox-list">
        <li class="inTheBox-item" *ngFor="let item of product.inTheBox">
          <div class="inTheBox-item-amount">
            {{ item.amount }}
          </div>
          <div class="inTheBox-item-itemName">
            {{ item.item }}
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="pictures-section">
    <div class="pictures-container">
      <picture class="picture">
        <source media="(max-width: 767px)" [srcset]="product.galleryImages.img1.imgMobile">
        <source media="(max-width: 1199px)" [srcset]="product.galleryImages.img1.imgTablet">
        <source media="(min-width: 1200px)" [srcset]="product.galleryImages.img1.imgDesktop">
        <img [src]="product.galleryImages.img1.imgMobile" class="smallImg">
      </picture>
      <picture class="picture">
        <source media="(max-width: 767px)" [srcset]="product.galleryImages.img2.imgMobile">
        <source media="(max-width: 1199px)" [srcset]="product.galleryImages.img2.imgTablet">
        <source media="(min-width: 1200px)" [srcset]="product.galleryImages.img2.imgDesktop">
        <img [src]="product.galleryImages.img2.imgMobile" class="smallImg">
      </picture>
    </div>
    <picture class="picture">
      <source media="(max-width: 767px)" [srcset]="product.galleryImages.img3.imgMobile">
      <source media="(max-width: 1199px)" [srcset]="product.galleryImages.img3.imgTablet">
      <source media="(min-width: 1200px)" [srcset]="product.galleryImages.img3.imgDesktop">
      <img [src]="product.galleryImages.img3.imgMobile" class="bigImg">
    </picture>
  </section>

  <section class="youMayLike-section">
    <h2 class="youMayLike-title">
      you may also like
    </h2>
    <ul class="youMayLike-list">
      <li class="youMayLike-item" *ngFor="let item of product.youMayAlsoLike">
        <div class="item_img-container">
          <img [src]="item.productImage" alt="{{ item.name }}" class="item_img">
        </div>
        <h3 class="item-name">
          {{ item.name }}
        </h3>
        <a class="see_product-button" routerLink="/product/{{item.id}}">see product</a>
      </li>
    </ul>
  </section>

  <app-category class="app-category" [showAppCategory]="true"></app-category>

</main>
<app-footer1></app-footer1>

