<header class="header">
  <div class="header_img-container">
    <picture>
      <source media="(max-width: 767px)" srcset="../../../assets/home/mobile/image-header.jpg">
      <source media="(max-width: 1199px)" srcset="../../../assets/home/tablet/image-header.jpg">
      <source media="(min-width: 1200px)" srcset="../../../assets/home/desktop/image-hero.jpg">
      <img class="header-img" alt="" src="../../../assets/home/mobile/image-header.jpg" alt="XX99 Mark II
      HeadphoneS">
    </picture>
  </div>
  <article class="header_text-container">
    <h2 class="header_subtitle">
      NEW PRODUCT
    </h2>
    <h1 class="header_title">
      XX99 Mark II
      HeadphoneS
    </h1>
    <p class="header_description">
      Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.
    </p>
    <button class="see_product-button">
      See Product
    </button>
  </article>
</header>
<main class="main">
  <app-category></app-category>
  <section class="products_section">
    <div class="zx9-speaker_container">
      <div class="zx9-speaker_imgContainer">
        <img src="../../../assets/home/mobile/image-speaker-zx9.png" alt="ZX9 Speaker" class="zx9-speaker_img">
      </div>
      <div class="circles_container">
        <picture>
          <source media="(max-width: 767px)" srcset="../../../assets/home/mobile/circles-mobile.svg">
          <source media="(min-width: 768px)" srcset="../../../assets/home/desktop/pattern-circles.svg">
          <img src="../../../assets/home/mobile/circles-mobile.svg" alt="circles" class="circles">
        </picture>
      </div>
      <article class="zx9-speaker-text">
        <h3 class="zx9-speaker-title">
          ZX9 <br>
          SPEAKER
        </h3>
        <p class="zx9-speaker-description">
          Upgrade to premium speakers that are phenomenally built to deliver truly remarkable sound.
        </p>
        <button class="see_product-button">SEE PRODUCT</button>
      </article>
    </div>
  </section>
</main>
<app-footer1></app-footer1>

