<section class="categoriesSection" [ngClass]="{'visible': showAppCategory}">
  <div class="categoriesList">
    <a *ngFor="let category of categoriesList" [routerLink]="category.link" class="categoryLink" (click)="openMenu()">
      <img [src]="category.productImg" [alt]="category.title" class="category-productImg">
      <article class="categoryInfo-container">
        <h2 class="categoryTitle">
          {{ category.title }}
        </h2>
        <div class="shop-container">
          <p>
            shop
          </p>
          <img src="../../../assets/shared/desktop/icon-arrow-right.svg" alt="arrow">
        </div>
      </article>
    </a>
  </div>
</section>

