.checkout-section{
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 1.5rem 0;
  background-color: var(--white);
  border-radius: 12px;
}

.title{
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--black-1);
}

.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.invalidInput{
  position: absolute;
  top: 0;
  right: 0;
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: -.21px;
  color: var(--red);
}

.form-label{
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: -.21px;
  color: var(--black-1);
}

.form-label.invalid{
  color: var(--red);
}

.form-input{
  width: 280px;
  height: 56px;
  padding: 0 1.4rem;
  border: 1px solid var(--grey-4);
  border-radius: 7px;
  outline: none;
  caret-color: var(--light-brown);
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: -.25px;
  color: var(--black-1);
}

.form-input::placeholder{
  opacity: .4;
  color: var(--black-1);
}

.form-input.ng-invalid.ng-touched{
  border: 2px solid var(--red);
}

.singleInput-container{
  display: flex;
  flex-direction: column;
  gap: .7rem;
  position: relative;
}

.form .formSection-container{
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form .formSection-container .formSection-container-title{
  font-size: .8125rem;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: .93px;
  text-transform: uppercase;
  color: var(--light-brown);
}

.form .formSection-container .inputsText-container{
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form .formSection-container .inputsText-container .singleInput-container .form-input:focus{
  border: 1px solid var(--light-brown);
}

.form .formSection-container .paymentMethod-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form .formSection-container .paymentMethod-container .paymentMethod-container-title{
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: -.21px;
  color: var(--black-1);
}

.form .formSection-container .paymentMethod-container .inputsRadio-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form .formSection-container .paymentMethod-container .inputsRadio-container .singleRadioInput-container{
  width: 280px;
  height: 56px;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--grey-4);
  border-radius: 7px;
  padding: 0 1.4rem;
}

.form .formSection-container .paymentMethod-container .inputsRadio-container .singleRadioInput-container.checked{
  border: 1px solid var(--light-brown);
}

.form .formSection-container .paymentMethod-container .inputsRadio-container .singleRadioInput-container .radio{
  position: relative;
  appearance: none;
  -webkit-appearance: none;
    border: 1px solid var(--grey-4);
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.form .formSection-container .paymentMethod-container .inputsRadio-container .singleRadioInput-container .radio:checked::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--light-brown);
}

.form .formSection-container .paymentMethod-container .inputsRadio-container .singleRadioInput-container .form-label{
  font-size: .875rem;
  letter-spacing: -.25px;
}

.form .formSection-container .eMoney_info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: .5rem;
}

.form .formSection-container .cashInfo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: .5rem;
}

.form .formSection-container .cashInfo-container .cashInfo-container-icon{
  width: 48px;
  height: 48px;
}

.form .formSection-container .cashInfo-container .cashInfo-container-paragraph{
  font-size: .9375rem;
  font-weight: 500;
  line-height: 25px;
  color: var(--black-1);
  opacity: .5;
}

@media(min-width: 768px){

  .checkout-section{
    width: 689px;
    padding: 1.8rem 0;
  }

  .title{
    font-size: 2rem;
    line-height: 36px;
    letter-spacing: 1.14px;
  }

  .form{
    width: 634.5px;
  }

  .form-input,
  .form .formSection-container .paymentMethod-container .inputsRadio-container .singleRadioInput-container{
    width: 309px;
    padding: 0 1.6rem;
  }

  .form .formSection-container{
    width: 100%;
    gap: .8rem;
  }

  .form .formSection-container .inputsText-container{
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .singleInput-container{
    width: 309px;
    margin-top: .5rem;
  }

  .form .formSection-container .inputsText-container .addressInput-container,
  .form .formSection-container .inputsText-container .addressInput-container .addressInput{
    width: 634px;
  }

  .form .formSection-container .paymentMethod-container{
    flex-direction: row;
    justify-content: space-between;
  }

  .form .formSection-container .eMoney_info{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form .formSection-container .cashInfo-container{
    flex-direction: row;
    justify-content: space-between;
  }

  .form .formSection-container .cashInfo-container .cashInfo-container-paragraph{
    width: 554px;
  }
}

@media(min-width: 1200px){

  .checkout-section{
    width: 730px;
    margin-top: 2.5rem;
    padding: 3.5rem 0;
  }

  .form{
    gap: 3.2rem;
  }

}
