<main class="main">
  <div class="main-container">
    <h2 class="title">
      summary
    </h2>
    <section class="summary-products">
      <ul class="products_list">
        <li class="summary-products-product" *ngFor="let item of items | async">
          <img [src]="item.image" alt="Product image" class="summary-products-productImg">
          <article class="product-info">
            <div class="product-name_and_price">
              <h4 class="product-name_and_price-name" [innerHTML]="item.name">
              </h4>
              <p class="product-name_and_price-price">
                $ {{item.price}}
              </p>
            </div>
            <div class="product-amount">
              x{{item.amount}}
            </div>
          </article>
        </li>
      </ul>
    </section>
    <section class="summary-info">
      <div class="values-container">
        <div class="value-container">
          <h6 class="value-container-name">
            total
          </h6>
          <p class="value-container-value">
            $ {{ totalPriceOfItems | async | totalPrice}}
          </p>
        </div>
        <div class="value-container">
          <h6 class="value-container-name">
            shipping
          </h6>
          <p class="value-container-value">
            $ 50
          </p>
        </div>
        <div class="value-container">
          <h6 class="value-container-name">
            vat(included)
          </h6>
          <p class="value-container-value">
            $ 1,079
          </p>
        </div>
      </div>
      <div class="total-container">
        <h6 class="total-container-name">
          grand total
        </h6>
        <p class="total-container-value">
          $ {{ (totalPriceOfItems | async )! + 50 | totalPrice}}
        </p>
      </div>
      <button class="pay-button see_product-button" (click)="onOrder()">
        continue & pay
      </button>
    </section>
  </div>
</main>
