<main class="main">
  <h2 class="title">
    summary
  </h2>
  <section class="summary-products">
    <div class="summary-products-product">
      <img src="" alt="Product image" class="summary-products-productImg">
      <article class="product-info">
        <div class="product-name_and_price">
          <h4 class="product-name_and_price-name">
            XX99 MK II
          </h4>
          <p class="product-name_and_price-price">
            $ 2,999
          </p>
        </div>
        <div class="product-amount">
          1x
        </div>
      </article>
    </div>
  </section>
  <section class="summary-info">
    <div class="value-container">
      <h6 class="value-container-name">
        total
      </h6>
      <p class="value-container-value">
        2000
      </p>
    </div>
    <div class="total-container">
      <h6 class="total-container-name">
        grand total
      </h6>
      <p class="total-container-value">
        2000
      </p>
    </div>
    <button class="pay-button see_product-button">
      continue & pay
    </button>
  </section>
</main>
